@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header h4{
    cursor: pointer;
    font-size: 24px;
    font-weight: 700;
}

.background {
    background: url(images/martin-jernberg-oBX-b6ltYts-unsplash.jpg) no-repeat center center fixed;
    background-size: cover;
    bottom: 100px;
    background-position: 0 0;
}

.header ul {
    cursor: pointer;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}
li:hover {
    color: #1F9CF0;
}

.title-section {
    background-color: #1F2937;
    color: #F9FAF8;
    height: 100vh;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1rem ;
}

.title h1 {
    margin-top: -5rem;
    font-size: 90px;
}

button {
    background-color: #1F9CF0;
    color: #F9FAF8;
    width: 80px;
    height: 36px;
    font-weight: 800;
    padding: 5px;
    border-radius: 40px;
    cursor: pointer;
    border: none;
}

button:hover {
    color: #1F9CF0;
    background-color: #F9FAF8;
}

/* information section */

#information {
    background-color: #CACBD0;
    color: #F9FAF8;
    padding: 3rem;
}

#boxes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 450px;
    margin-top: -50px;
}

.box {
    margin: auto;
    height: 220px;
    width: 190px;
}

.box img {
    width: 190px;
}

.box img:hover{
    margin-top: -10px;
}

/* quote section */
.quotes {
    background-color: #F9FAF8;
    color: #1F2937;
}

#quotes {
    display: inline-block;
    width: 50%;
    padding: 200px 0 0;
    height: 500px;
    text-align: center;
}

#quotes h2 {
    text-align: center;
}

 #quotes h4 {
    text-align:right;
    font-weight: 400;
    font-style: italic;
 }

 /* action section */
 #action {
    height: 270px;
    padding-top: 5rem;
 }

 .card {
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    gap: 3rem;
    background-color: #1F9CF0;
    border-radius: 20px;
 }

 #action button {
    border: 2px solid #F9FAF8;
 }

 /* footer */

 footer {
    background-color: #1F2937;
    color: #c2c8ce;  
 }

 #footer {
    padding-top: 33px;
    font-size: 17px;
    height: 80px;
 }
